<ul class="nav nav-pills">
  <li class="active"><a href="#/collections">Collections</a></li>
  <li><a href="#/orders">Orders</a></li>
</ul>

<ol class="breadcrumb">
  <li class="active">Collection {{collection.id}}</li>
</ol>

<div class="panel panel-info">
  <div class="panel-body">

    <div class="pull-right" tooltip-placement='bottom' tooltip='{{canOrder() ? "" : "Collection status must be complete before ordering."}}'>
      <button class="btn btn-sm btn-primary" type="button" ng-disabled="! canOrder()" ng-click='createOrder($event)'>Create Order</button>
    </div>
    <div class="pull-right" tooltip-placement='bottom' tooltip='{{allFilesCopied ? "" : "All files must have completed upload before collection can be completed."}}'>
      <button class="btn btn-sm btn-primary" type="button" 
        ng-disabled="! canComplete()" 
        ng-click='completeCollection($event)'>
        Complete Collection
      </button>
    </div>

    <dl class="dl-horizontal">
      <dt>Type</dt>
      <dd>{{collection.type | collectionType}}</dd>
      <dt>Created At</dt>
      <dd>{{collection.created_at | date:'MM/dd/yyyy hh:mma'}}</dd>
      <dt>Expires At</dt>
      <dd>{{collection.expires_at | date:'MM/dd/yyyy hh:mma'}}</dd>
      <dt>Size</dt>
      <dd>{{collection.bytes | bytes}}</dd>
      <dt>Size Left</dt>
      <dd>{{collection.bytes_left | bytes}}</dd>
      <dt>Upload Status</dt>
      <dd>{{collection.upload_status}}</dd>
      <dt>S3 Copy Status</dt>
      <dd>{{collection.s3_copy_status}}</dd>
    </dl>

    <h4>
      Files
      <button id="btn-add-files" class="btn btn-sm btn-primary" type="button" ng-if="collection.upload_status == 'ready'" ng-click='addFiles()'>Add Files</button>
    </h4>

    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Path</th>
          <th>Chunked Status</th>
          <th>S3 Copy Status</th>
          <th>Size</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in files | orderBy:'path'">
          <td>
            <a ng-if="file.chunked_status != 'none'" ng-href='#/collections/{{file.collection_id}}/files/{{file.id}}'>{{file.id}}</a>
            <span ng-if="file.chunked_status == 'none'">{{file.id}}</span>
          </td>
          <td>{{file.path}}</td>
          <td>{{file.chunked_status}}</td>
          <td>
            {{file.s3_copy_status}}
            <span class="fa fa-refresh fa-spin icon-refresh icon-spin" ng-if="file.s3_copy_status == 'copying'"></span>
          </td>
          <td>{{file.bytes | bytes}}</td>
          <td><a href='' ng-if="collection.upload_status == 'ready'" ng-click='removeFile(file)'>remove</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>